/* app/typing-test/TypingTest.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.wordsContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-bottom: 20px;
    font-size: 24px;
}

.word {
    margin: 5px;
}

.currentWord {
    margin: 5px;
    text-decoration: underline;
}

.typedTextContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-top: 20px;
}

.correctChar {
    color: green;
    font-weight: 500;
    font-size: 20px;
}

.incorrectChar {
    color: red;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
}

.resultContainer {
    margin-top: 20px;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: #282c34;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #21a1f1;
}